<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weather Data API</title>
</head>

<body>
<nav>
    <a href="/about/">About</a>
    <a href="/contact/">Contact Us</a>
    <a href="/store/">Store</a>
</nav>
<h1>Weather Data API</h1>
<h2>This is our webpage.</h2>
<p>URL Format: http://127.0.0.1:5000/app/v1/station/date</p>
<p>URL Example: http://127.0.0.1:5000/app/v1/10/19881025</p>
<img src="{{url_for('static', filename='cat.png')}}" style="width: 500px">
<br>
<a href="https://google.com">Google Page</a>

</body>
</html>